<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link th:href="@{/static/common/image/hdrc.jpg}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link th:href="@{/static/common/image/hdrc.jpgo}" sizes="128x128" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
    <style>
        /*
       *筛选条件向右浮动
       */
        .toRight{
            float: right;
            display: inline;
        }
        /*
        *单元格居中对齐
        */
        /*.layui-table-cell{*/
        /*height: 56px;*/
        /*line-height: 56px;*/
        /*}*/
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"]{
            top: 50%;
            transform: translateY(-50%);
        }
        /*
       *工具栏下右对齐
       */
        .layui-form-item .layui-inline {
            margin-bottom: 0;
            margin-right: 0;
        }
        /*
          *调整工具栏按钮图标
          */
        .layui-card-header .layui-icon{
            right: 78%;
            top:43%;
            left:3%;
        }
        /*
         *调整工具栏字体
         */
        .toolFont{
            margin-left: 10%;
        }
        /*
       *行操作对齐
       */
        .layui-btn+.layui-btn {
            margin-left: 0;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
                </div>
                <!--<%&#45;&#45;<div class="layui-inline">&#45;&#45;%>-->
                <!--<%&#45;&#45;<input type="text" id="year" name="year" placeholder="请选择年份"  class="layui-input" style="width: 200px;">&#45;&#45;%>-->
                <!--<%&#45;&#45;</div>&#45;&#45;%>-->
                <!--<%&#45;&#45;<div class="layui-inline">&#45;&#45;%>-->
                <!--<%&#45;&#45;<a class="layui-btn layui-btn-normal layuiadmin-btn-useradmin" data-type="batchPass"><i class="layui-icon layui-icon-ok"></i>批量通过</a>&#45;&#45;%>-->
                <!--<%&#45;&#45;</div>&#45;&#45;%>-->
                <!--<%&#45;&#45;<div class="layui-inline">&#45;&#45;%>-->
                <!--<%&#45;&#45;<a class="layui-btn layui-btn-danger layuiadmin-btn-useradmin" data-type="batchFrost"><i class="layui-icon layui-icon-delete"></i><span class="toolFont">批量冻结</span></a>&#45;&#45;%>-->
                <!--<%&#45;&#45;</div>&#45;&#45;%>-->
                <div class="toRight">
                    <!--<%&#45;&#45;<div class="layui-inline selectDiv">&#45;&#45;%>-->
                    <!--<%&#45;&#45;<select name="sex">&#45;&#45;%>-->
                        <!--<%&#45;&#45;<option value="">性别</option>&#45;&#45;%>-->
                        <!--<%&#45;&#45;<option value="1">男</option>&#45;&#45;%>-->
                        <!--<%&#45;&#45;<option value="2">女</option>&#45;&#45;%>-->
                        <!--<%&#45;&#45;</select>&#45;&#45;%>-->
                    <!--<%&#45;&#45;</div>&#45;&#45;%>-->
                    <div class="layui-inline">
                        <input type="text" id="keywords" name="keywords" placeholder="请输入名称" autocomplete="off" class="layui-input" style="width: 400px;">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit lay-filter="search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="layui-card-body">
            <table id="demo" lay-filter="demo"></table>
            <!--<script type="text/html" id="imgTpl">-->
                <!--{{#if (d.headImg==null || d.headImg == '') { }}-->
                <!--<img style="display: inline-block; width: 50%; height: 100%;" th:src= "/static/upload/image/blank.jpg">-->
                <!--{{# } }}-->
                <!--{{#if (d.headImg!=null && d.headImg != '' ) { }}-->
                <!--<img style="display: inline-block; width: 50%; height: 100%;" src= "/{{ d.headImg }}">-->
                <!--{{# } }}-->
            <!--</script>-->
            <script type="text/html" id="table-useradmin-webuser">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-search"></i>查看</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
            <script type="text/html" id="ifLeaderTpl">
                {{#if (d.ifLeader == 0) { }}
                否
                {{# } }}
                {{#if (d.ifLeader == 1) { }}
                是
                {{# } }}
            </script>
        </div>
    </div>
</div>

<script th:src="@{/static/common/jquery.min.js}"></script>
<script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script th:inline="javascript">
    var form,layer,laydate,table,popUpBox;
    var path = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    layui.use(['form','layer','laydate','table'], function(){
        form = layui.form;
        layer =layui.layer;
        table =layui.table;
        laydate =layui.laydate;

        laydate.render({
            elem:"#year",
            type:"year",
        });


        //表格渲染
        table.render({
            elem: '#demo'
            // ,height: 700
            ,url: '/saasUserPermissionList/paging' //数据接口
            ,method:"post"
            ,where: {parentId:[[${parentId}]]}
            ,page: true //开启分页
            ,limit:10
            ,limits:[10,20,30,40,50]
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id',width:"10%",  align:'center', title: 'ID'}
                ,{field: 'parentName',width:"10%",  align:'center', title: '父级权限'
//                    ,templet:"#nameDemo"
                }
                ,{field: 'name',width:"10%",  align:'center', title: '名称'}
                ,{field: 'descript',width:"10%",  align:'center', title: '描述'}
                ,{field: 'requestPath',width:"10%",  align:'center', title: '请求路径'}
                ,{field: 'iconPath',width:"10%",  align:'center', title: '图标路径'}
                ,{field: 'sort',width:"10%",  align:'center', title: '排序'}
//                ,{field: 'endDate',width:"20%",  align:'center', title: '结束时间'
//                    ,templet:"#ifLeaderTpl"
//                }
                ,{align:'center', title: '操作',fixed: 'right',templet:"#table-useradmin-webuser"}
            ]]
        });

        //事件
        var active = {
            add: function(){
                var html='';
                html+='<div class="layui-form">';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">名称</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="name" name="name" required  lay-verify="required" placeholder="名称" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">描述</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="descript" name="descript" required  lay-verify="required" placeholder="描述" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">请求路径</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="requestPath" name="requestPath"   placeholder="请求路径" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">图标路径</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="iconPath" name="iconPath"   placeholder="图标路径" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">排序</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="sort" name="sort"   placeholder="排序" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item"  style="width:80%;">';
                html+='<div class="layui-input-block">';
                html+='<button class="layui-btn" style="margin-left: 30%;" lay-submit lay-filter="addFormDemo">立即提交</button>';
                html+='</div>';
                html+='</div>';
                html+='</div>';
                console.log(html);
                popUpBox = layer.open({
                    type: 1,
                    area: ['30%', '30%'],
                    fixed:false,
//                    maxmin: true,
                    title: '添加权限',
                    content:html
                });
                setTimeout(function(res){
                    form.render();
                },500);

            }  ,batchFrost: function(){
                var checkStatus = table.checkStatus('demo')
                    ,checkData = checkStatus.data; //得到选中的数据
                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }
                var ids="";
                for(var i=0;i<checkData.length;i++){
                    if(i<checkData.length-1){
                        ids+=checkData[i].id+","
                    }else{
                        ids+=checkData[i].id
                    }
                }
                layer.confirm("确定冻结吗?",function(resdata){
                    $.post('/user/batchCheck',{ids:ids,status:3},
                        function (res) {
                            if (res.code==0){
                                refreshTable(res.msg);
                            }else {
                                layer.msg(res.msg);
                            }
                        });
                });
            }
        };
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            // 查看详情
            if (obj.event === 'detail') {
                popUpBox = layer.open({
                    type: 2,
                    area: ['100%', '100%'],
                    fixed:false,
                    maxmin: true,
                    title: data.name,
                    content:'/saasUserPermissionList/jumpDetail?id='+data.id
                })
            }
            // 通过
            if (obj.event === 'update') {
                var html='';
                html+='<div class="layui-form">';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">名称</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="hidden" id="id" name="id" value="'+data.id+'">';
                html+='<input type="text" id="name" name="name" required value="'+data.name+'" lay-verify="required" placeholder="名称" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">描述</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="descript" name="descript" required value="'+data.descript+'"  lay-verify="required" placeholder="描述" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">请求路径</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="requestPath" name="requestPath" value="'+data.requestPath+'"   placeholder="请求路径" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">图标路径</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="iconPath" name="iconPath" value="'+data.iconPath+'"  placeholder="图标路径" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item" style="width:80%;margin-top:5%;">';
                html+='<label class="layui-form-label">排序</label>';
                html+='<div class="layui-input-block">';
                html+='<input type="text" id="sort" name="sort"   placeholder="排序" autocomplete="off" class="layui-input">';
                html+='</div>';
                html+='</div>';
                html+='<div class="layui-form-item"  style="width:80%;">';
                html+='<div class="layui-input-block">';
                html+='<button class="layui-btn" style="margin-left: 30%;" lay-submit lay-filter="updateFormDemo">立即提交</button>';
                html+='</div>';
                html+='</div>';
                html+='</div>';
                popUpBox = layer.open({
                    type: 1,
                    area: ['30%', '30%'],
                    fixed:false,
//                    maxmin: true,
                    title: '修改权限',
                    content:html
                });
                $("#parentId").val(data.parentId);
                setTimeout(function(res){
                    form.render();
                },500);
            }
            // 拒绝
            if (obj.event === 'delete') {
                var token=JSON.parse(localStorage.getItem("admin")).token;
                layer.confirm("确定删除吗?",function(resdata){
                    $.ajax({
                        type: "post",
                        headers: {
                            'token':token
                        },
                        url: "/saasUserPermissionList/delete",
                        data: {id:data.id},
                        success: function(res) {
                            if(res.code==0){
                                refreshTable(res.msg);
                            }else if(res.code==-1){
                                layer.msg(res.msg);
                            }
                        },
                        error: function(err) {
                        },
                        complete: function(XMLHttpRequest, status) { //请求完成后最终执行参数　
                        }
                    });
//                    $.post('/saasUserPermissionList/delete',{id:data.id},
//                        function (res) {
//                            if (res.code==0){
//                                refreshTable(res.msg);
//                            }else if(res.code==-1){
//                                layer.msg(res.msg);
//                            }else{
//                                popUpBox = layer.open({
//                                    type: 1,
//                                    area: ['30%', '40%'],
//                                    fixed:false,
////                    maxmin: true,
//                                    title: '修改部门',
//                                    content:res
//                                });
//
//                            }
//                        });
                });
            }

        });
        //监听搜索
        form.on('submit(search)', function(data){
            var keywords = $("#keywords").val();
            var data={};
            data.keywords=keywords;
            //执行重载
            table.reload('demo', {
                where: data //设定异步数据接口的额外参数
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        form.on('submit(addFormDemo)',function(){
            var data={};
            data.parentId=[[${parentId}]];
            data.name=$("#name").val();
            data.descript=$("#descript").val();
            data.requestPath=$("#requestPath").val();
            data.iconPath=$("#iconPath").val();
            data.sort=$("#sort").val();
            var token=JSON.parse(localStorage.getItem("admin")).token;
            $.ajax({
                type: "post",
                headers: {
                    'token':token
                },
                url: "/saasUserPermissionList/add",
                data: data,
                success: function(res) {
                    if(res.code==0){
                        refreshTable(res.msg);
                    }else if(res.code==-1){
                        layer.msg(res.msg);
                    }
                },
                error: function(err) {
                },
                complete: function(XMLHttpRequest, status) { //请求完成后最终执行参数　
                }
            });
        });
        form.on('submit(updateFormDemo)',function(){
            var data={};
            data.id=$("#id").val();
            data.parentId=[[${parentId}]];
            data.name=$("#name").val();
            data.descript=$("#descript").val();
            data.requestPath=$("#requestPath").val();
            data.iconPath=$("#iconPath").val();
            data.sort=$("#sort").val();
            var token=JSON.parse(localStorage.getItem("admin")).token;
            $.ajax({
                type: "post",
                headers: {
                    'token':token
                },
                url: "/saasUserPermissionList/update",
                data: data,
                success: function(res) {
                    if(res.code==0){
                        refreshTable(res.msg);
                    }else if(res.code==-1){
                        layer.msg(res.msg);
                    }else{
                        popUpBox = layer.open({
                            type: 1,
                            area: ['30%', '40%'],
                            fixed:false,
//                    maxmin: true,
                            title: '修改部门',
                            content:res
                        });

                    }
                },
                error: function(err) {
                },
                complete: function(XMLHttpRequest, status) { //请求完成后最终执行参数　
                }
            });

        });
        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    function refreshTable(msg) {
        table.reload("demo");
        layer.closeAll();
        if(msg!=undefined){
            layer.msg(msg)
        }
    }
</script>
</body>
</html>